.photo-grid__attachment {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 12.4px;
    list-style: none;
    box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
    .photo-grid__attachment {
        gap: 10.4px;
    }
   }
@media screen and (max-width: 769px) {
 .photo-grid__attachment {
        gap: 12.4px;
    }
}
@media screen and (max-width: 400px) {
    .photo-grid__attachment {
        gap: 8.4px;
    }
}