.place__title {
    margin: 0;
    display: flex;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    font-size: 72px;
    max-width: 460px;
    white-space: pre-line;
}

@media screen and (max-width: 1025px) {
    .place__title {
      max-width: 440px;
  }

  }
  @media screen and (max-width: 769px) {
    .place__title {
      align-items: flex-end;
      max-width: 340px;
      font-size: 42px;
      line-height: 46px;
  }
  }
  @media screen and (max-width: 655px) {
    .place__title {
      max-width: 288px;
      font-size: 32px;
      padding-left: 16px;
      box-sizing: border-box;
  }
  }