.intro__list {
    margin: 0;
    padding: 0;
    margin-top: 33px;
  }

@media screen and (max-width: 321px) {
  .intro__list {
    font-size: 32px;
    margin-top: 34px;
    box-sizing: border-box;
  }
  }