.intro__title {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    font-size: 54px;
    font-weight: 900;
    color: #FFFFFF;
    white-space: pre-line;
  }

  @media screen and (max-width: 321px) {
    .intro__title {
      font-size: 32px;
      line-height: 35px;
      max-width: 288px;
    }
  }