.place__pic {
    margin: 0 auto;
    max-width: 460px;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
    .place__pic {
      max-width: 440px;
  }
  }

@media screen and (max-width: 769px) {
    .place__pic {
      max-width: 340px;
  }
  }

  @media screen and (max-width: 321px) {
.place__pic {
    max-width: 320px;
}
}