.header__logo {
    max-width: 176px;
    width: 100%;
    min-height: 52px;
    background-image: url(../../../images/header-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }

@media screen and (max-width: 321px) {
.header__logo {
    max-width: 142px;
    min-height: 42px;
}
}