.place {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    row-gap: 48px;
}

@media screen and (max-width: 1025px) {
    .place {
        gap: 32px;
    }
   }
@media screen and (max-width: 769px) {
    .place {
        gap: 28px;
    }
   }
@media screen and (max-width: 463px) {
    .place {
        gap: 32px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 0 auto;
     max-width: 320px;
     width: 100%;
  }
  }