.places {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 984px;
    width: 100%;
    margin-top: 92px;
    box-sizing: border-box;
}
@media screen and (max-width: 1025px) {
    .places {
        max-width: 928px;
    }
}
@media screen and (max-width: 769px) {
    .places {
        margin-top: 88px;
        max-width: 720px;
    }
}
@media screen and (max-width: 321px) {
    .places {
        max-width: 320px;
        margin-top: 64px;
    }
}