.place__text {
    margin: 0 auto;
    max-width: 484px;
    width: 100%;
}

@media screen and (max-width: 1025px) {
    .place__text {
        max-width: 456px;
  }
  }


@media screen and (max-width: 769px) {
    .place__text {
        max-width: 352px;
  }
  }

@media screen and (max-width: 340px) {
    .place__text {
        max-width: 288px;
        box-sizing: border-box;
        padding-left: 16px;
  }
  }