.photo-grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    max-width: 1184px;
    width: 100%;
    gap: 16px;
    margin-top: 92px;
    justify-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
    .photo-grid {
        max-width: 929px;
        gap: 14px;
    }
   }
@media screen and (max-width: 769px) {
 .photo-grid {
        max-width: 720px;
        gap: 16px;
        margin-top: 88px;
        }
}
@media screen and (max-width: 321px) {
    .photo-grid {
        max-width: 288px;
        margin-top: 64px;
   }
   }