.intro {
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-width: 690px;
    margin-left: 100px;
    color: #FFFFFF;
    box-sizing: border-box;
  }

  @media screen and (max-width: 1025px) {
  .intro {
        margin-left: 38px;
        }
    }

@media screen and (max-width: 769px) {
    .intro {
        margin: 0 auto;
        margin-top: 88px;
        max-width: 720px;
        }
    }
@media screen and (max-width: 350px) {
    .intro {
        margin-top: 64px;
        max-width: 288px;
        }
    }