.cover__title {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    text-decoration: none;
    max-width: 560px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: center;
    margin-bottom: 32px;
    color: #FFFFFF;
  }

@media screen and (max-width: 539px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
}
}