.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin-top: 80px;
}

.place:first-child {
    margin-top: 0;
}

  @media screen and (max-width: 1025px) {
    .place {
      grid-template-columns: 440px 1fr;
      gap: 48px 32px;
    }
  }

  @media screen and (max-width: 769px) {
    .place {
      grid-template-columns: 340px 1fr;
      gap: 48px 28px;
      margin-top: 73px;
    }
  }

  @media screen and (max-width: 680px) {
    .place {
      grid-template-columns: 1fr;
      row-gap: 32px;
      margin-top: 50px;
    }
  }

