.footer__links {
    font-family: 'Inter', 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
  }

@media screen and (max-width: 655px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
}