.intro__title {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  color: #FFFFFF;
  }

@media screen and (max-width: 380px) {
  .intro__title {
    margin: 0 auto;
    font-size: 32px;
    box-sizing: border-box;
  }
}